name: Development Release

on:
  push:
    branches:
      - canary/*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Setting up environment
        uses: Unthrottled/wmp-env-action@v1.0.0
        with:
          release-type: non-prod
      - run: ./ciScripts/buildPlugin.sh
      - run: ./gradlew publishPlugin
        env:
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
